* {
    font: "Fira Sans", sans-serif;
    text-align: center;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
}

nav, footer {
    width: 100%;
    height: 50px;
    background-color: green;
    color: black;
    border-bottom: white solid 5px;
}

nav ul {
    text-align: right;
    margin: 0px;
    padding-top: 10px;
}

nav li {
    display:inline;
    margin: 0px;
}

nav a:link, nav a:visited, nav a:active {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 14px 10px;
}

nav a:hover {
    background-color: chartreuse;
}

footer h5 {
    line-height: 50px;
    margin: 0px;
}

main {
    margin: 0px auto;
}

.limit-width {
    width: 800px;
    margin: auto;
}

.purple-content {
    background-color: purple;
    border-top: 5px solid rgb(66, 5, 66);
    padding-bottom: 20px;
}

#contact {
    border: 5px solid lightblue;
    border-radius: 10px;
    margin: 0px auto;
    width: 500px;
}